.formContainer {
  box-shadow: 0 0 8px gray;
  border-radius: 12px;
}
.authActionBtn {
  background-color: var(--primary-color) !important;
  color: white;
  &:hover {
    background-color: var(--primary-color-hover) !important;
  }
}
